<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-key-set-heading" jhiTranslate="userGatewayApp.accountServiceKeySet.home.createOrEditLabel">Create or edit a Key Set</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userGatewayApp.accountServiceKeySet.market" for="field_market">Market</label>
                    <select class="form-control" name="market" formControlName="market" id="field_market">
                        <option value="SAMPLE_ENUM">{{ 'userGatewayApp.MarketE.SAMPLE_ENUM' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('market')!.invalid && (editForm.get('market')!.dirty || editForm.get('market')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('market')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userGatewayApp.accountServiceKeySet.apiKey" for="field_apiKey">Api Key</label>
                    <input type="text" class="form-control" name="apiKey" id="field_apiKey"
                           formControlName="apiKey"/>
                    <div *ngIf="editForm.get('apiKey')!.invalid && (editForm.get('apiKey')!.dirty || editForm.get('apiKey')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apiKey')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userGatewayApp.accountServiceKeySet.apiSecret" for="field_apiSecret">Api Secret</label>
                    <input type="text" class="form-control" name="apiSecret" id="field_apiSecret"
                           formControlName="apiSecret"/>
                    <div *ngIf="editForm.get('apiSecret')!.invalid && (editForm.get('apiSecret')!.dirty || editForm.get('apiSecret')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apiSecret')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="userGatewayApp.accountServiceKeySet.keyCollection" for="field_keyCollection">Key Collection</label>
                    <select class="form-control" id="field_keyCollection" name="keyCollection" formControlName="keyCollectionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="keyCollectionOption.id" *ngFor="let keyCollectionOption of keycollections; trackBy: trackById">{{ keyCollectionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
