<div>
    <h2 id="page-heading">
        <span jhiTranslate="userGatewayApp.accountServiceKeySet.home.title">Key Sets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-key-set" [routerLink]="['/key-set/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="userGatewayApp.accountServiceKeySet.home.createLabel">
            Create a new Key Set
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="keySets?.length === 0">
        <span jhiTranslate="userGatewayApp.accountServiceKeySet.home.notFound">No keySets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="keySets && keySets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="userGatewayApp.accountServiceKeySet.market">Market</span></th>
                    <th scope="col" ><span jhiTranslate="userGatewayApp.accountServiceKeySet.apiKey">Api Key</span></th>
                    <th scope="col" ><span jhiTranslate="userGatewayApp.accountServiceKeySet.apiSecret">Api Secret</span></th>
                    <th scope="col" ><span jhiTranslate="userGatewayApp.accountServiceKeySet.keyCollection">Key Collection</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let keySet of keySets ;trackBy: trackId">
                    <td><a [routerLink]="['/key-set', keySet.id, 'view']">{{ keySet.id }}</a></td>
                    <td jhiTranslate="{{ 'userGatewayApp.MarketE.' + keySet.market }}">{{ keySet.market }}</td>
                    <td>{{ keySet.apiKey }}</td>
                    <td>{{ keySet.apiSecret }}</td>
                    <td>
                        <div *ngIf="keySet.keyCollectionId">
                            <a [routerLink]="['/key-collection', keySet.keyCollectionId , 'view']" >{{ keySet.keyCollectionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/key-set', keySet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/key-set', keySet.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(keySet)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
