<div>
    <h2 id="page-heading">
        <span jhiTranslate="traderGatewayApp.accountServiceKeyCollection.home.title">Key Collections</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-key-collection" [routerLink]="['/key-collection/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="traderGatewayApp.accountServiceKeyCollection.home.createLabel">
            Create a new Key Collection
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="keyCollections?.length === 0">
        <span jhiTranslate="traderGatewayApp.accountServiceKeyCollection.home.notFound">No keyCollections found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="keyCollections && keyCollections.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="traderGatewayApp.accountServiceKeyCollection.owner">Owner</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let keyCollection of keyCollections ;trackBy: trackId">
                    <td><a [routerLink]="['/key-collection', keyCollection.id, 'view']">{{ keyCollection.id }}</a></td>
                    <td>{{ keyCollection.owner }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/key-collection', keyCollection.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/key-collection', keyCollection.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(keyCollection)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
