<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userAccount">
            <h2><span jhiTranslate="userGatewayApp.userGatewayUserAccount.detail.title">User Account</span> {{ userAccount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userGatewayApp.userGatewayUserAccount.fieldName">Field Name</span></dt>
                <dd>
                    <span>{{ userAccount.fieldName }}</span>
                </dd>
                <dt><span jhiTranslate="userGatewayApp.userGatewayUserAccount.keyCollection">Key Collection</span></dt>
                <dd>
                    <div *ngIf="userAccount.keyCollectionId">
                        <a [routerLink]="['/key-collection', userAccount.keyCollectionId, 'view']">{{ userAccount.keyCollectionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-account', userAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
